* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #003366;
}
#twitter-widget-0 {
  margin: 10px 0 15px 0 !important;
}
h4 {
  font-family: "Open Sans";
}
li.repo p {
  font-size: .8em;
}
li.repo h2,
li.repo p {
  margin: 5px 15px;
}
body,
html {
  height: 100%;
  background: #e8e6e1;
}
#usgscolorband,
#usgsfooter {
  display: none;
}
.page-title-h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  margin: -10px 0 10px 0;
}
/*========nav========*/
nav {
  background: #003366;
  height: 40px;
  position: relative;
  font-family: "Open Sans";
}
nav ul {
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
  list-style: none;
  z-index: 2000;
}
nav li {
  height: 40px;
  background: #fff;
  padding-left: 10px;
  border-bottom: 1px solid #1b2d15;
}
nav li:focus {
  background: #003366;
}
nav li:focus a {
  color: #fff;
}
nav a {
  display: inline-block;
  height: 20px;
  width: 100%;
  padding: 10px 0;
}
#trainingDropdown {
  display: none;
}
#menu {
  position: absolute;
  left: 5px;
  top: 7px;
}
/*========index css========*/
main {
  min-height: 400px;
  padding: 15px;
}
article {
  width: 100%;
  min-height: 200px;
}
#usgs-r-logo {
  text-align: center;
}
#usgs-r-logo img {
  width: 40%;
  height: 40%;
}
#welcome {
  margin: 5px 0 15px 0;
  font-family: "Open Sans";
}
#welcome h1 {
  font-size: 1.9em;
  margin-bottom: 5px;
}
p.nextToLink {
  color: #666;
}
.box {
  background: #f2f0eb;
  width: 100%;
  min-height: 129px;
  border: 1px solid #bebebe;
  margin-bottom: 15px;
  font-family: "Open Sans";
  border-radius: 5px;
  padding-bottom: 10px;
}
.box h4 {
  font-size: .95em;
  padding: 5px 0 0 5px;
  font-weight: 600;
}
.box em {
  font-size: .7em;
}
.box p {
  margin: 8px 0 0 5px;
  padding-right: 5px;
}
.box p.first-p {
  margin-top: 5px;
}
.box p a {
  color: #003366;
  font-weight: 600;
}
.box p a:hover {
  color: #e55d46;
}
#newtoR h4,
#R-users h4,
#R-developers h4,
#featured_packages h4 {
  padding: 5px 10px;
  width: 170px;
  color: #fff;
  border-radius: 5px 0 0 0;
}
#newtoR h4 {
  background: #67ba2f;
}
#R-users h4 {
  background: #39b2eb;
}
#R-developers h4 {
  background: #f47464;
}
#featured_packages h4 {
  background: #003366;
}
#repoContainer {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}
.repos {
  background: #fff;
  width: 220px;
  height: 150px;
  margin: 0 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.repos:hover {
  background: #dcdcdc;
}
.repos h2 {
  font-size: 20px;
  color: #003366;
  margin: 15px 10px 5px 10px;
  max-width: 160px;
}
.repos p.repoDescription {
  font-size: .8em;
  margin: 5px 22px 5px 10px;
}
.repos:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 70px solid transparent;
  border-left: 70px solid transparent;
  border-right: 70px solid #003366;
  pointer-events: none;
}
.diffColor:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 70px solid transparent;
  border-left: 70px solid transparent;
  border-right: 70px solid #ef5760;
  pointer-events: none;
}
p.underDevelopment {
  width: 75px;
  text-align: center;
  font-size: .65em !important;
  position: absolute;
  top: 6px;
  right: -20px;
  color: #fff;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  z-index: 1000;
  font-weight: 600;
}
/*========content class css========*/
.content {
  font-family: "Open Sans";
  font-weight: 600;
}
.content h3 {
  padding: 5px 0 5px 10px;
  margin-bottom: -5px;
}
.content ul {
  list-style: square;
  padding: 5px 5px 5px 30px;
}
.content ul li {
  margin-bottom: 10px;
}
.content ul li a {
  color: #003366;
  font-weight: 600;
}
.content ul li a:hover {
  color: #e55d46;
}
.content p {
  font-weight: 400;
  padding: 0 5px 5px 5px;
}
/*========contact css========*/
#contact-form {
  min-height: 100px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#contact-form input,
#contact-form textarea {
  width: 99%;
  height: 30px;
  padding-left: 1%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #bebebe;
  font-size: 1em;
  margin-bottom: 10px;
}
#contact-form textarea {
  min-height: 100px;
}
/*========training CSS========*/
#mapArea {
  padding-bottom: 0px;
}
#mapHolder {
  padding: 5px 13px 10px 10px;
}
#map {
  height: 400px;
}
.training {
  padding: 0 10px 0 10px;
}
.training strong {
  font-weight: 300;
  font-size: .9em !important;
}
.training h3 {
  padding: 0;
  margin: 0;
  color: #003366;
}
.training h4 {
  padding: 0;
  margin-top: 10px;
}
.trainingWorkshop {
  border: 1px solid #bebebe;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.registerButton {
  background: #003366;
  padding: 8px 10px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  color: #fff;
}
.registerButton:hover {
  background: #fff;
  color: #003366;
}
.trainingLocation {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 5px;
}
#rTrainingInterest p {
  text-indent: 0;
  margin: 5px 0 0 5px;
}
#rTrainingInterest h4 {
  margin: 5px 0 0 6px;
}
#rTrainingInterest a {
  margin: 5px 0 0 0px;
}
#rTrainingInterest a:hover {
  text-decoration: underline;
}
#productContainer {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#productContainer h3 {
  padding: 5px 0;
  width: 100%;
}
.review {
  border: 1px solid #bebebe;
  width: 284px;
  min-height: 20px;
  border-radius: 10px;
  margin: 10px 10px 0 0;
  padding: 3px 10px 10px 10px;
}
.review h3 {
  padding: 0 !important;
  margin: 0 0 5px 0;
}
.review p {
  text-indent: 0px;
  font-size: .9em !important;
  margin: 3px 0 0 0 !important;
  padding: 0 !important;
}
.rating {
  font-size: 1.2em;
}
/*========gran html========*/
.granNumberList {
  margin-left: 40px;
  font-weight: normal;
}
.granNumberList li {
  margin-left: -5px;
}
pre {
  overflow: auto;
  color: white;
  background: #f7f7f7;
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  position: relative;
  margin: 15px 15px 15px -15px;
  height: 100px;
  border-radius: 5px;
}
pre code {
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-size: 0.9rem;
  background: none;
  padding: 15px;
  white-space: pre;
  overflow: auto;
  display: block;
}
.language-Rcode {
  color: #333333;
}
.string {
  color: #183691;
}
.variable {
  color: #ed6a43;
}
.punctuation {
  color: #a71d5d;
}
@media screen and (min-width: 768px) {
  #twitter-widget-0 {
    display: block !important;
  }
  /*========usgs-header========*/
  #usgscolorband {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 5.14em;
    min-height: 72px;
    background: #000;
    position: relative;
    z-index: 20002;
    display: block;
  }
  #usgsbanner {
    width: 100%;
    height: 72px;
  }
  #usgsidentifier {
    background-color: black;
    width: 178px;
    height: 5.14em;
    float: left;
  }
  #usgsidentifier img {
    border: none;
  }
  #usgsccsabox {
    float: right;
    background-color: #000000;
    min-height: 72px;
    width: 120px;
  }
  #usgsccsa {
    font: 1em/0.5em Verdana, Arial, Helvetica, sans-serif;
    height: 63px;
    padding-top: 9px;
  }
  #usgsccsa a:link,
  #usgsccsa a:visited {
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 4px;
    text-decoration: none;
  }
  #usgsccsa a:hover {
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: underline;
    margin-left: 4px;
  }
  #usgsccsa a:active {
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 4px;
    text-decoration: none;
  }
  /*========nav========*/
  nav {
    margin-top: 1px;
    height: 35px;
  }
  nav img {
    display: none;
  }
  nav > ul {
    display: block !important;
    position: static;
  }
  nav li {
    height: 35px;
    width: 103px;
    background: #003366;
    border-right: 1px solid #fff;
    border-bottom: none;
    float: left;
    text-align: center;
    padding-left: 0;
  }
  nav li:hover {
    background: #fff;
  }
  nav li:hover a {
    color: #003366;
  }
  nav a {
    height: 35px;
    display: block;
    color: #fff;
    background: none;
    padding: 6px 0 0 0;
  }
  .mobileLinks {
    display: none;
  }
  .shower:hover #trainingDropdown {
    display: block;
  }
  #trainingDropdown {
    display: none;
    width: 230px;
    min-height: 50px;
    margin-top: -5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  #trainingDropdown li {
    width: 100%;
    height: 40px;
    background: #fff;
    text-align: left;
    border-right: none;
  }
  #trainingDropdown li:hover {
    background: #003366;
  }
  #trainingDropdown li:hover a {
    color: #fff;
  }
  #trainingDropdown a {
    padding: 10px 0 10px 10px;
    color: #003366;
  }
  /*========index css========*/
  #usgs-r-logo {
    width: 240px;
    float: right;
    margin-bottom: 25px;
  }
  #usgs-r-logo img {
    width: 100%;
    height: 100%;
  }
  #welcome {
    text-align: left;
    width: 60%;
  }
  #welcome h1 {
    font-size: 2em;
  }
  #welcome p {
    font-size: 1.2em;
  }
  .box {
    clear: both;
  }
  /*========usgs-footer========*/
  #usgsfooter {
    background: #fff;
    padding-bottom: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    clear: both;
    margin: 0;
    display: block;
  }
  #usgsfooterbar {
    background-color: #666666;
    padding: 4px;
    margin: 0;
  }
  #usgsfooterbar a:link,
  #usgsfooterbar a:visited {
    margin-right: 40px;
    color: #ffffff;
    text-decoration: none;
  }
  #usgsfooterbar a:hover {
    margin-right: 40px;
    color: #ffffff;
    text-decoration: underline;
  }
  #usgsfooterbar a:active {
    margin-right: 40px;
    color: #ffffff;
    text-decoration: none;
  }
  #usgsfootertext {
    padding: 4px;
    margin: 0;
  }
  #usgsfootertext img {
    border: none;
    float: right;
    margin-right: 5px;
  }
}
/*media query*/
@media screen and (min-width: 1024px) {
  main {
    min-height: 80%;
  }
  article {
    width: 960px;
    margin: 0 auto;
  }
  #welcome {
    width: 67%;
    margin-bottom: 30px;
  }
  #welcome h1 {
    font-size: 3.9em;
    margin-bottom: 0px;
  }
  #welcome p {
    font-size: 1.2em;
    line-height: 1.8em;
  }
  .box h4 {
    font-size: 1.1em;
  }
  .box p {
    font-size: 1.1em;
    margin: 5px 0 0 10px;
  }
  #productContainer {
    justify-content: flex-start;
  }
}
/*media query*/

/*# sourceMappingURL=style.css.map */