<!-- BEGIN USGS Header Template --> 

			<div id="usgscolorband">

				<div id="usgsheader">

					<div id="usgsidentifier">
						<a href="http://www.usgs.gov/" target="_blank"><img src="img/usgslogo.jpg" alt="USGS - science for a changing world" title="U.S. Geological Survey Home Page"/></a>
					</div><!--usgsidentifier-->

					<img src="img/banner.png" alt="banner"/>

					<div id="usgsccsabox">

						<div id="usgsccsa">
							<a href="http://www.usgs.gov/">USGS Home</a>
							<br /><a href="http://answers.usgs.gov/cgi-bin/gsanswers?tmplt=2">Contact USGS</a>
							<br /><a href="http://search.usgs.gov/">Search USGS</a>
							<br />
						</div><!--usgsccsa-->

					</div><!--usgsccsabox-->

				</div><!--usgsheader-->
			</div><!--colorband-->

			<!-- END USGS Header Template -->