<!-- BEGIN nav --> 

	<nav>
	
		<img id="menu" src="img/mobileburger.png" alt="Mobile Menu Hamburger"/>
    
    	<ul id="dropdown">
        	
            <li><a href="index.html">Home</a></li>
            
        	<li><a href="about.html">About</a></li>
            
            <li><a href="resources.html">Resources</a></li>
			
			<li class="shower"><a href="training.html">Training</a>
				<ul id="trainingDropdown">
					<li><a href="training.html">Training Schedule</a></li>
					
					<li>
						<a href="http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/R/intro-curriculum/">
					Introduction to R Curriculum
						</a>
					</li>
					
					<li><a href="#">Course Specific Materials</a></li>
				</ul>
			</li>
			
			<li class="mobileLinks">
				<a href="http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/R/intro-curriculum/">
				Introduction to R Curriculum
				</a>
			</li>
			
			<li class="mobileLinks"><a href="#">Course Specific Materials</a></li>
            
            <li><a href="gran.html">GRAN</a></li>
            
            <li><a href="contact_contribute.html" target="_top">Contact</a></li>
        
        </ul>
    
    </nav>
	
<script>
	//mobile menu toggle functionality
	$(document).ready(function(){
		$("#menu").click(function(){
			$("#dropdown").toggle("slow", function(){
				});	
			});		
	});
</script>

<!-- END nav -->