<!-- BEGIN nav --> 

	<nav>
	
		<img id="menu" src="img/mobileburger.png" alt="Mobile Menu Hamburger"/>
    
    	<ul id="dropdown">
        	
        <li><a href="index.html">Home</a></li>

        <li class="shower">
          <a href="resources.html">Resources</a>
  				<ul id="trainingDropdown">
  				  <li>
  						<a href="resources.html">
  							Resources
  						</a>
  					</li>
  					<li>
  						<a href="training-curriculum/intro-curriculum">
  							Introduction to R
  						</a>
  					</li>
  					<li>
  						<a href="training-curriculum/usgs-packages">
  							Intro to USGS R Packages
  						</a>
  					</li>	
  					<li>
  						<a href="training-curriculum/r-package-dev">
  							R Package Development
  						</a>
  					</li>					
  					<li>
  						<a href="training-curriculum/course-specific-material">
  							Course Specific Materials
  						</a>
  					</li>
  					
  								<li class="mobileLinks">
				<a href="training-curriculum/intro-curriculum">
				Introduction to R Curriculum
				</a>
	        	</li>
			
			<li class="mobileLinks">
				<a href="training-curriculum/r-package-dev">
				R Package Development
				</a>
			</li>
			
			<li class="mobileLinks">
				<a href="training-curriculum/course-specific-material">
					Course Specific Materials
					</a>
			</li>
            
                         
			 <li><a href="training.html">Training</a></li>
	    
	                     <li><a href="gran.html">GRAN</a></li>
            
            <li><a href="packages.html">Packages</a></li>
            
            <li><a href="contact_contribute.html" target="_top">Contact</a></li>

            <li><a href="about.html">About</a></li>

        </ul>
    
    </nav>
	
<script>
	//mobile menu toggle functionality
	$(document).ready(function(){
		$("#menu").click(function(){
			$("#dropdown").toggle("slow", function(){
				});	
			});		
	});
</script>

<!-- END nav -->
